<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf8">
	<title></title>
	<style>
	</style>
	<script>
	</script>
</head>
<body>
<div>
	<h1>发帖人：{{c.user}}</h1>
	<p>title:{{c.u_title}}</p
	<p>content:{{c.u_content}}</p>
</div>
<div>
	<form action="/replay/{{c.id}}/" method="post">{% csrf_token %}
		<table>
			<tr><td><textarea name="content"></textarea></td></tr>
			<tr><td><input type="submit" value="回复"/></td></tr>
			<tr><td><input type="button" value="返回" onclick="location.assign('/index/')"/></td></tr>
		</table>
	</form>
</div>
<div>
	{% for i in send %}
	<h3>回帖人：{{i.user}}</h3>
	<p>回复的帖子：{{i.send}}</p>
	<p>内容：{{i.content}}</p>
	<p>时间：{{i.date}}</p>
	{% endfor %}
</div>
{% for contact in send.paginator.page_range %}
     &nbsp;
	{% if contact == send.number%}
	 	{{contact}}
	{% else %}
		<a href="?page={{contact}}" style="text-decoration:none">{{contact}}</a>
	{% endif %}
{% endfor %}
 <div class="pagination">
 	<span class="step-links">
		{% if send.has_previous %}
			<a href="?page={{send.previous_page_number}}">上一页</a>
		{% endif %}
		<span class="current">
			Page{{send.number}} of {{send.paginator.num_pages}}.
		</span>
		{% if send.has_next %}
			<a href="?page={{send.next_page_number}}">下一页</a>
		{% endif %}
	</span>
</div>
</body>
</html>
